<html lang="en">
<head>
{{>header}}
</head>
<body>
{{>nav}}
  <div class="w-50 mt-5 ml-5">      
<form method="post" role="form">
 <div class="form-group">
    <input type="text" class="form-control" id="title"
    name="title" placeholder="Plan Name" required>
 </div>
 <div class="form-group">
    <input type="date" class="form-control" id="date"
    name="date" 
required>
 </div>
 
 <div class="form-group">
   <p>User: {{user}}</p>
 </div>

 <div class="form-group">
<input type="submit" value="Create Plan" class="btn btn-primary">
</div>
</form>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</html>