<html lang="en">
<head>
{{>header}}
</head>
<body>
{{>nav}}
{{pageTitle}}
<div>
<h2 class="text-center pt-5">Fitness+. Achieve Greatness</h2>
<p class="text-center p-5">Welcome to Fitness+. The Number 1 App to help stay on top of your workout goals to achieve the results of your dreams.</p>
</div>
<div class="d-flex justify-content-center">
{{^user}}
 <a id="login" href="/login" class="btn btn-primary">
 Sign in
 </a>
 <a id="login" href="/register" class="btn btn-primary">
 Register
 </a>
 {{/user}}
 {{#user}}
 <a id="logout" href="/logout" class="btn btn-primary">
 Sign out
 </a>
 {{/user}}
</div>
</body>

</html>