<html lang="en">
<head>
{{>header}}
</head>
<body>
{{>nav}}
{{pageTitle}}
<div>
<h2 class="text-center pt-5">Fitness+. Achieve Greatness</h2>
<p class="text-center p-5">Welcome to Fitness+. The Number 1 App to help stay on top of your workout goals to achieve the results of your dreams.</p>
</div>
<div class="d-flex justify-content-center">
<form method="post" role="form">
 <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username"
    name="username" placeholder="Username" required>
 </div>
 <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"
    name="password" placeholder="Password"
required>
 </div>

 <div class="form-group">
    <input type="submit" value="Login" class="btn btn-primary">
 </div>
</form>
</div>
</body>
</html>